
.success-container {
    text-align: center;
    margin-top: 50px;
}

.success-icon {
    font-size: 48px;
    color: rgb(90, 211, 90);
}

.success-message {
    font-size: 24px;
    color: rgb(90, 211, 90);
    margin-top: 20px;
}
