<div class="body">
  <div class="login" *ngIf="!logged">
    <h1>Event Factorial</h1>
    <h2>Please login!</h2>
    <fieldset>
        <label for="username">Username: </label>
        <input type="text" id="username" [(ngModel)]="username">
      </fieldset>
      <fieldset>
        <label for="password">Password: </label>
        <input type="password" id="password" [(ngModel)]="password">
      </fieldset>

    <button class="btn_in" (click)="login()">Login</button>
  </div>
</div>

<div class="content" *ngIf="logged"> <!-- Only show content if logged in -->
  <div class="navigation">
    <nav class="nav">
      <a routerLink="/" class="logo">Event Factorial</a>
      <ul class="menu">
        <li class="menu-li">
          <a href="#" class="link" (click)="navigateToBooking()">Booking Management</a>
        </li>
        
              <li class="menu-li">
          <button class="link btn_out" (click)="logout()">Logout</button>
        </li>


      </ul>
    </nav>
  </div>
  <div class="main">
    
    <div class="main">
      <h2>Events</h2>
      <section id="available-events">
          <div *ngFor="let event of events" class="event">
            <div id="single-event">
              <li class="event-item">
                <h2>{{ event.title }}</h2>
                <p>{{ event.description }}</p>
                <p>Дата: {{ event.date }}</p>
                <p>Место проведения: {{ event.location }}</p>
                <p>Билеты доступны: {{event.tickets_available}}</p>
                <div class="cta-btn">
                  <button (click)="onRegister(event.id, 1)">Register</button>
                </div>
                <div id="successMessage" class="success-message" *ngIf="showSuccessMessage">
                  Registered successfully!
                </div>
    
              </li>
          </div>
          </div>
    
      </section>

      <router-outlet></router-outlet>
  </div>
  
</div>
