* {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: column;
}
h2 {
  text-align: center;
  color: #414141;
  padding-top: 20px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  max-width: 90%;
  margin: 2rem auto;
  border: 1px solid #ccc;
  padding: 1.5rem;
}
p {
  text-align: center;
  font-size: 1.125rem;
}

.ticket-item {
  margin: 1rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  list-style-type: none;
  cursor: pointer;
}
h2,
p {
  margin: 0.5rem 0;
}
h2 {
  font-size: 1.5rem;
  color: #414141;
}
h3 {
  font-size: 0.8rem;
}


.ticket-item {
  margin: 1rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  list-style-type: none;
  cursor: pointer;
}
h2,
p {
  margin: 0.5rem 0;
}
h2 {
  font-size: 1.5rem;
  color: #414141;
}
h3 {
  font-size: 0.8rem;
}













* {
    margin: 0;
    padding: 0;
  }
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .login {
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid #b9b3b2;
    border-radius: 5px;
    width: 30%;
  }
  .login h1 {
    text-align: center;
    color: #372626;
    padding-top: 20px;
  }
  .login h2 {
    padding: 20px;
  }
  .login p {
    width: 50%;
  }
  .btn_in,
  .btn_out {
    width: 100%;
    padding: 3px 0;
    margin-top: 15px;
    font: inherit;
    color: white;
    cursor: pointer;
    border: 1px solid #d1cfb3;
    background: #aca987;
    border-radius: 5px;
  }
  .login button:hover {
    border-color: hsl(15, 5%, 17%);
    background: #c2b2ae;
  }
  .btn_out {
    align-self: center;
    margin: 20px 0;
  }
  .nav {
    padding: 0 50px;
    height: 100px;
    background-color: #b2a8a5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  .menu {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .logo {
    font-size: 40px;
    text-decoration: none;
    color: #f1eded;
  }
  .link {
    color: #f1eded;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
  }
  .link:hover {
    color: #6a5959;
  }
  label,
  input,
  textarea {
    display: inline;
    margin: 0.5rem 0;
  }
  input,
  textarea {
    width: 100%;
    height: 100%;
    font: inherit;
    padding: 0.15rem 0.25rem;
    border: 1px solid #3d3535;
    border-radius: 5px;
  }
  input:focus,
  textarea:focus {
    outline: none;
    border-color: #bb8171;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .event-item {
    margin: 1rem 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    text-decoration: none;
  }
  .event-item h2,
  .event-item p {
    margin: 0.5rem 0;
  }
  p {
    text-align: center;
  }
  .event-item h2 {
    font-size: 1.5rem;
    color: #414141;
    text-align: center;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .event-item button {
    font: inherit;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    cursor: pointer;
    border: 1px solid #d34d4d;
    background: #9b4747;
  }
  .event-item button:hover,
  .event-item button:active {
    border-color: #d34d4d;
    background: #9b4747;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  h2 {
    text-align: center;
    color: #414141;
    padding-top: 20px;
  }
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40rem;
    max-width: 90%;
    margin: 2rem auto;
    border: 1px solid #ccc;
    padding: 1.5rem;
  }
  p {
    text-align: center;
    font-size: 1.125rem;
  }
  .event-item {
    margin: 1rem 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
    padding: 1rem;
  }
  .event-item h2,
  .event-item p {
    margin: 0.5rem 0;
  }
  p {
    text-align: center;
  }
  .event-item h2 {
    font-size: 1.5rem;
    color: #414141;
    text-align: center;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .event-item button {
    font: inherit;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    cursor: pointer;
    border: 1px solid #d34d4d;
    background: #9b4747;
  }
  .event-item button:hover,
  .event-item button:active {
    border-color: #d34d4d;
    background: #9b4747;
  }
  ul {
    list-style-type: none;
  }
  li {
    text-decoration: none;

  }

  .cta-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    padding: 12px 24px;
    background-color: #b2a8a5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;

  }
  
  .cta-btn button:hover {
    background-color: #4cd352;
    transform: translateY(-2px);
  }
  
  .cta-btn button:focus {
    outline: none;
  }
  
  .cta-btn button:active {
    transform: translateY(1px);
    box-shadow: none;
  }
  




  