* {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: column;
}
h2 {
  text-align: center;
  color: #414141;
  padding-top: 20px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  max-width: 90%;
  margin: 2rem auto;
  border: 1px solid #ccc;
  padding: 1.5rem;
}
p {
  text-align: center;
  font-size: 1.125rem;
}

.ticket-item {
  margin: 1rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  list-style-type: none;
  cursor: pointer;
}
h2,
p {
  margin: 0.5rem 0;
}
h2 {
  font-size: 1.5rem;
  color: #414141;
}
h3 {
  font-size: 0.8rem;
}


.ticket-item {
  margin: 1rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  list-style-type: none;
  cursor: pointer;
}
h2,
p {
  margin: 0.5rem 0;
}
h2 {
  font-size: 1.5rem;
  color: #414141;
}
h3 {
  font-size: 0.8rem;
}
.back-button {
  background-color: #b2a8a5;
  color: #fff;
  border: none;
  padding: 20px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 33%;
  margin-left: 500px;
}

.back-button:hover {
  background-color: #4cd352;
}

.cta-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  padding: 12px 24px;
  background-color: #b2a8a5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;

}

.cta-btn button:hover {
  background-color: #4cd352;
  transform: translateY(-2px);
}

.cta-btn button:focus {
  outline: none;
}

.cta-btn button:active {
  transform: translateY(1px);
  box-shadow: none;
}
