<div class="main">
    <h2>Tickets</h2>
    <section id="available-tickets">
      <div class="tickets">
        <div *ngFor="let ticket of tickets"> 
            <div class="single-ticket">
                <li class="ticket-item">
                  <h2>{{ ticket.event_title }}</h2>
                  <p>Ticket number: {{ ticket.ticket_id }}</p>
                  <p>Event description: {{ ticket.event_description }}</p>
                  <p>Date: {{ ticket.event_date }}</p>
                  <p>Location: {{ ticket.event_location }}</p>
                </li>
              </div>        </div>
      </div>
    </section>
</div>
